<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    executionOrder="depends,defects"
    cacheResult="true"
    failOnRisky="true"
>
    <testsuites>
        <testsuite name="php-pico/utility test suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="-1"/>
    </php>
</phpunit>
